<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; min-height: 100vh; height: 100%">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-3 fw-bold">Z I L O N G</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-5">
        <li class="nav-item">
            <a href="/" class="nav-link text-white fs-5">
                <i class="bi bi-house-door-fill pe-2"></i>
                <p class="d-inline">Home</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/books" class="nav-link text-white fs-5">
                <i class="bi bi-book-half pe-2"></i>
                <p class="d-inline">Books</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/members" class="nav-link text-white fs-5">
                <i class="bi bi-person-vcard-fill pe-2"></i>
                <p class="d-inline">Members</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/employees" class="nav-link text-white fs-5">
                <i class="bi bi-people-fill pe-2"></i>
                <p class="d-inline">Employees</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/transactions" class="nav-link text-white fs-5">
                <i class="bi bi-cash-coin pe-2"></i>
                <p class="d-inline">Transactions</p>
            </a>
        </li>
    </ul>
    <hr />
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/images/zilongswims.jpg" alt="" width="32" height="32" class="rounded-circle me-2" />
            <strong>zilong</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>
