<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs', { title: "Register" }) %>
</head>

<body>
  <div class="d-flex justify-content-center align-items-center bg-light"
      style="min-width: 100%; min-height: 100vh;">
    <main>
      <form method="POST" action="/users">
        <h4 class="mb-3 fw-normal">Register</h4>
        <div class="row">
          <!-- First Name -->
          <div class="col">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingFirstName"
                  placeholder="First Name" name="firstName" />
              <label for="floatingFirstName">First Name</label>
            </div>
          </div>

          <!-- Last Name -->
          <div class="col">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingLastName"
                  placeholder="Last Name" name="lastName" required />
              <label for="floatingLastName">Last Name</label>
            </div>
          </div>
        </div>

        <!-- Username -->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingUsername"
              placeholder="Username" name="username" required />
          <label for="floatingUsername">Username</label>
        </div>

        <!-- Password -->
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword"
              placeholder="Password" name="password" required />
          <label for="floatingPassword">Password</label>
        </div>
        <div class="text-end">
          <button class="btn btn-outline-secondary btn-sm mb-3" type="button"
              id="visibilityPassword"><i class='bi bi-eye-fill'></i></button>
        </div>

        <!-- Confirm Password -->
        <div class="form-floating mb-3">
          <input type="password" class="form-control"
              id="floatingConfirmPassword" placeholder="Confirm Password"
              name="confirmPassword" required />
          <label for="floatingConfirmPassword">Confirm Password</label>
        </div>
        <div class="text-end">
          <button class="btn btn-outline-secondary btn-sm mb-3" type="button"
              id="visibilityConfirmPassword"><i
                class='bi bi-eye-fill'></i></button>
        </div>

        <!-- Address -->
        <div class="form-floating mb-3">
          <textarea type="number" class="form-control" id="floatingAddress"
              placeholder="Address" name="address" required></textarea>
          <label for="floatingAddress">Address</label>
        </div>

        <!-- Email -->
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingEmail"
              placeholder="Email" name="email" required />
          <label for="floatingEmail">Email</label>
        </div>

        <!-- Phone -->
        <div class="form-floating mb-3">
          <input type="tel" class="form-control" id="floatingPhone"
              placeholder="Phone" name="phone" required />
          <label for="floatingPhone">Phone</label>
        </div>

        <button class="btn btn-primary w-100 py-2 mb-3"
            type="submit">Register</button>
      </form>
    </main>
  </div>

  <script>
    $("#visibilityPassword").on("click", () => {
      if ($("#floatingPassword").attr("type") === "password") {
        $("#visibilityPassword").html(
          "<i class='bi bi-eye-slash-fill'></i>");
        $("#floatingPassword").attr("type", "text");
      } else {
        $("#floatingPassword").attr("type", "password");
        $("#visibilityPassword").html(
          "<i class='bi bi-eye-fill'></i>");
      }
    });

    $("#visibilityConfirmPassword").on("click", () => {
      if ($("#floatingConfirmPassword").attr("type") === "password") {
        $("#visibilityConfirmPassword").html(
          "<i class='bi bi-eye-slash-fill'></i>");
        $("#floatingConfirmPassword").attr("type", "text");
      } else {
        $("#floatingConfirmPassword").attr("type", "password");
        $("#visibilityConfirmPassword").html(
          "<i class='bi bi-eye-fill'></i>");
      }
    });
  </script>
  <%- include('./partials/js.ejs') %>
</body>

</html>