<!-- Users -->
<div class="row">
  <!-- First Name -->
  <div class="col">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="filterFirstName"
          placeholder="First Name" name="firstName" />
      <label for="filterFirstName">First Name</label>
    </div>
  </div>

  <!-- Last Name -->
  <div class="col">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="filterLastName"
          placeholder="Last Name" name="lastName" />
      <label for="filterLastName">Last Name</label>
    </div>
  </div>
</div>

<!-- Username -->
<div class="form-floating mb-3">
  <select name="username" class="form-select" id="filterUsername">
    <option value="" selected>All</option>
    <% allUsers.forEach(user => { %>
    <option value="<%= user.username %>">
      @<%= user.username %>
    </option>
    <% }) %>
  </select>
  <label for="filterUsername">Username</label>
</div>

<!-- Address -->
<div class="form-floating mb-3">
  <textarea class="form-control" id="filterAddress" placeholder="Address"
      name="address"></textarea>
  <label for="filterAddress">Address</label>
</div>

<!-- Email -->
<div class="form-floating mb-3">
  <select name="email" class="form-select" id="filterUsername">
    <option value="" selected>All</option>
    <% allUsers.forEach(user => { %>
    <option value="<%= user.email %>">
      <%= user.email %>
    </option>
    <% }) %>
  </select>
  <label for="filterUsername">Email</label>
</div>

<!-- Phone -->
<div class="form-floating mb-3">
  <input type="tel" class="form-control" id="filterPhone" placeholder="Phone"
      name="phone" />
  <label for="filterPhone">Phone</label>
</div>

<!-- Role -->
<div class="form-floating mb-3">
  <select name="role" class="form-select" id="filterRole">
    <option value="" selected>All</option>
    <option value="admin">Admin</option>
    <option value="cashier">Cashier</option>
    <option value="regular">Regular</option>
    <option value="member">Member</option>
  </select>
  <label for="filterRole">Role</label>
</div>

<!-- Is Active -->
<hr>
<div class="text-start" width="100%">
  <p class="mb-3">Is Active</p>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="isActive" value="1"
        id="isActiveTrue">
    <label class="form-check-label" for="isActiveTrue">True</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="isActive" value="0"
        id="isActiveFalse">
    <label class="form-check-label" for="isActiveFalse">False</label>
  </div>
</div>